@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


/* Style pour header */
header{
  display:flex;
  justify-content: center;
}
header .fa-arrow-left{
  color:black;
  margin-right: 2rem;
}

/* style pour image restaurant */
section .image{
  width: 100%;
  z-index:0;
  margin: 1rem auto;
  position:absolute;
}
.image img{
  width:100%;
  z-index:0;
  height: 35rem;
  object-fit: cover;
  opacity: 0;
  animation: show 5s ease-in forwards;
  animation-delay: 2s;
  -webkit-animation: show 5s ease-in forwards;
  -moz-animation: show 5s ease-in forwards;
  -o-animation: show 5s ease-in forwards;
}
@keyframes show{
  0%{opacity: 0;}
  30%{opacity: 0.3;}
  50%{opacity: 0.5;}
  0%{opacity: 0.7;}
  100%{opacity: 1;}
}
@-webkit-keyframes show{
   0%{opacity: 0;}
  30%{opacity: 0.3;}
  50%{opacity: 0.5;}
  0%{opacity: 0.7;}
  100%{opacity: 1;}
}
@-moz-keyframes show{
  0%{opacity: 0;}
  30%{opacity: 0.3;}
  50%{opacity: 0.5;}
  0%{opacity: 0.7;}
  100%{opacity: 1;}
}
@-o-keyframes show{
   0%{opacity: 0;}
  30%{opacity: 0.3;}
  50%{opacity: 0.5;}
  0%{opacity: 0.7;}
  100%{opacity: 1;}
}
/* style pour menu */

 .menu{
  background: #f6f6f6;
  margin-top: -8rem;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  z-index: 3;
   position:relative;
  }
.menu h1{
  margin: 2rem;
  padding: 2rem 1rem;
  display:flex;
  justify-content: space-between;
  font-family: Shrikhand;
}

.menu h1 .fa-heart{
  font-size: 120%;
  top: -1rem;
  right: 5rem;
}
/*style pour animation menu*/
.carte{
  opacity: 0;
  height:0;
  animation: fadeout 3s ease-in forwards;
  animation-delay: 2s;
  -webkit-animation: fadeout 3s ease-in forwards;
  -webkit-animation-delay: 2s;
  -moz-animation: fadeout 3s ease-in forwards;
  -moz-animation-delay: 2s;
  -o-animation: fadeout 3s ease-in forwards;
  -o-animation-delay: 2s;
}
@keyframes fadeout{
  0%{opacity: 0;
    height:0;
    margin-top: 10rem;
    }
  20%{opacity: 0.5;
  height:20%;}
  40%{opacity: 0.6;
  height:40%;}
  60%{opacity: 0.8;
  height:60%;}
  80%{opacity: 0.9;
  height:80%;}
  100%{opacity: 1;
  height:100%;}
}
@-webkit-keyframes fadeout{
  0%{opacity: 0;
    height:0;
    margin-top: 10rem;
    }
  20%{opacity: 0.5;
  height:20%;}
  40%{opacity: 0.6;
  height:40%;}
  60%{opacity: 0.8;
  height:60%;}
  80%{opacity: 0.9;
  height:80%;}
  100%{opacity: 1;
  height:100%;}
}
@-moz-keyframes fadeout{
  0%{opacity: 0;
    height:0;
    margin-top: 10rem;
    }
  20%{opacity: 0.5;
  height:20%;}
  40%{opacity: 0.6;
  height:40%;}
  60%{opacity: 0.8;
  height:60%;}
  80%{opacity: 0.9;
  height:80%;}
  100%{opacity: 1;
  height:100%;}
}
@-o-keyframes fadeout{
  0%{opacity: 0;
    height:0;
    margin-top: 10rem;
    }
  20%{opacity: 0.5;
  height:20%;}
  40%{opacity: 0.6;
  height:40%;}
  60%{opacity: 0.8;
  height:60%;}
  80%{opacity: 0.9;
  height:80%;}
  100%{opacity: 1;
  height:100%;}
}
/* style pour la carte */
.carte h2{
  text-transform: uppercase;
  margin: 1rem 3rem;
}
.carte hr{
  width: 10%;
  color:#99e2d0;
  font-weight: 900;
  margin-left: 3rem;
}
.carte ul{
  list-style-type: none;
}
.carte ul li {
  background:white;
  border-radius: 3rem;
  margin:2rem auto;
  width: 90%;
  padding: 0;
}
.carte ul li a{
  display:flex;
  padding: 0rem;
  height:100%;
  height: 9rem;
}
.carte ul li a:hover{
  opacity:0.8;
}
.nom{
  width: 33rem;
  width: 80%;
  padding: 1rem 0 1rem 1rem;
  height: 100%;
  display:flex;
  flex-direction: column;
}
.nom p:first-child{
  font-weight: 600;
  white-space: nowrap;
 text-overflow: ellipsis;
    overflow: hidden;
}
.nom p:last-child{
  font-weight: 300;
  opacity:0.8;
  font-size: 2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* style pour prix*/
.prix{
  display: flex;
  height:100%;
  width:10rem;
  width: 20%;
  position:relative;
  border-top-right-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  
}
.prix p{
  width: 100%;
  margin-left: 40%;
  align-self: flex-end;
  padding-bottom: 2rem;
}

.prix .fa-check-circle{
  color:white;
  height:auto;
  border-top-right-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  text-align: center;
  width:0;
  opacity: 0;
  padding-left: 1.5rem;
  font-size: 4rem;
}
.far.fa-check-circle{
 padding-top: 3rem;
}
   /* style pour animation prix*/
.plat:hover > .nom {
  animation: reduit 0.5s forwards;
  -webkit-animation: reduit 0.5s forwards;
  -moz-animation: reduit 0.5s forwards;
  -o-animation: reduit 0.5s forwards;
}
.plat:hover > .prix {
  animation: stretch 0.5s forwards;
  -webkit-animation: stretch 0.5s forwards;
  -moz-animation: stretch 0.5s forwards;
  -o-animation: stretch 0.5s forwards;
}

@keyframes reduit {
  from{width:80%;
    margin-right:0;
  }
  to{width:60%;
    margin-right:20%;
 }
}
@-webkit-keyframes reduit {
  from{width:80%;
    margin-right:0;
  }
  to{width:60%;
    margin-right:20%;
 }
}
@-moz-keyframes reduit {
  from{width:80%;
    margin-right:0;
  }
  to{width:60%;
    margin-right:20%;
 }
}
@-o-keyframes reduit {
  from{width:80%;
    margin-right:0;
  }
  to{width:60%;
    margin-right:20%;
 }
}

@keyframes stretch {
  from{
    background:none;
  }
  to{
    background:#99e2d0;
  }
  }
@-webkit-keyframes stretch {
  from{
    background:none;
    }
  to{
     background:#99e2d0;
    }
  }
@-moz-keyframes stretch {
  from{
    background:none;
    }
  to{
    background:#99e2d0;
    }
  }
@-o-keyframes stretch {
  from{
    background:none;
    }
  to{
    background:#99e2d0;
    } 
   }

.plat:hover > .prix p{
  animation: slide 0.5s forwards;
}
@keyframes slide{
  from{
   margin-left:40%;
    width:100%;
  }
  to{
   margin-left: -55%;
    width:50%;
    }
}
@-webkit-keyframes slide{
  from{
   margin-left:40%;
    width:100%;
  }
  to{
   margin-left: -55%;
    width:50%;
    }
}
@-moz-keyframes slide{
  from{
   margin-left:40%;
    width:100%;
  }
  to{
   margin-left: -55%;
    width:50%;
    }
}
@-o-keyframes slide{
  from{
   margin-left:40%;
    width:100%;
  }
  to{
   margin-left: -55%;
    width:50%;
    }
}
.plat:hover > .prix i {
  animation: play 0.3s forwards;
  animation-delay: 0.3s;
}
@keyframes play{
  from{
    opacity: 0;
    width:0;
    margin-left: 50%;
    transform: rotate(0deg)
  }
  to{
    opacity: 1;
    width:50%;
    margin-left: 0%;
     transform: rotate(360deg)
  }
}
@-webkit-keyframes play{
  from{
    opacity: 0;
    width:0;
    margin-left: 50%;
    transform: rotate(0deg)
  }
  to{
    opacity: 1;
    width:50%;
    margin-left: 0%;
     transform: rotate(360deg)
  }
}
@-moz-keyframes play{
  from{
    opacity: 0;
    width:0;
    margin-left: 50%;
    transform: rotate(0deg)
  }
  to{
    opacity: 1;
    width:50%;
    margin-left: 0%;
     transform: rotate(360deg)
  }
}
@-o-keyframes play{
  from{
    opacity: 0;
    width:0;
    margin-left: 50%;
    transform: rotate(0deg)
  }
  to{
    opacity: 1;
    width:50%;
    margin-left: 0%;
     transform: rotate(360deg)
  }
}

/* style pour button commander*/
button.commander{
  margin:2rem 30% 10rem 30%;
  width: 40%;
}
/* style pour footer */

/* style responsive petit mobile moins 410px*/
@media screen and (max-width:410px) {
  header img{
    width: 25rem;
  }
    body{
        width:95%;
      font-size: 1.7rem;
    }
    /* Style pour header */
    /* style pour image restaurant */
    .image img{
      height: 30rem;
    }
    /* style pour menu */
    .menu h1{
      margin: 2rem 1rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .menu h1 .fa-heart{
      display:none;
    }
    /* style pour la carte */
  
.nom{
  width: 70%;
}
  .prix{
    width: 20%;
  }
  .prix .fa-check-circle{
    font-size: 2.5rem;
  }
@keyframes reduit {
  from{width:70%;
    margin-right:0;
  }
  to{width:60%;
    margin-right:16%;
 }
}
@-webkit-keyframes reduit {
  from{width:70%;
    margin-right:0;
  }
  to{width:60%;
    margin-right:16%;
 }
}
@-moz-keyframes reduit {
  from{width:70%;
    margin-right:0;
  }
  to{width:60%;
    margin-right:16%;
 }
}
@-o-keyframes reduit {
  from{width:70%;
    margin-right:0;
  }
  to{width:60%;
    margin-right:20%;
 }
}

@keyframes stretch {
  from{
    background:none;
    width:20%;
  }
  to{
    background:#99e2d0;
    width:22%;
  }
  }
  @-webkit-keyframes stretch {
    from{
      background:none;
      width:20%;
    }
    to{
      background:#99e2d0;
      width:22%;
    }
  }
  @-moz-keyframes stretch {
    from{
      background:none;
      width:20%;
    }
    to{
      background:#99e2d0;
      width:22%;
    }
    }
  @-o-keyframes stretch {
    from{
      background:none;
      width:20%;
      }
    to{
      background:#99e2d0;
      width:22%;
      }
      }
  /* style pour button commander*/
  button.commander{
    margin: 2rem 15% 10rem 15%;
    width: 60%;
  }
}

/* style pour tablette */
@media screen and (min-width:768px) and (max-width:1024px) {
  body{
    font-size: 3rem;
  }
  /* Style pour header */
header .fa-arrow-left{
  margin-right: 5rem;
  font-size: 4.5rem;
}
  /* style pour image restaurant */
.image img{
  height: 40rem;
}
  /* style pour menu: pas changé */
  /* style pour la carte */
.carte ul li {
  margin:3rem auto;
}
.carte ul li a{
  padding-left: 2rem;
}
/* style pour prix: non changé*/
  .nom{
    width: 90%;
  }
  .prix{
    width:15rem;
  }
  /* style animation prix */

@keyframes stretch {
  from{
    background:none;
  }
  to{
    background:#99e2d0;
    margin-left: 10%;
  }
  }
@-webkit-keyframes stretch {
  from{
    background:none;
    }
  to{
    background:#99e2d0;
    margin-left: 10%;
    }
}
@-moz-keyframes stretch {
  from{
    background:none;
  }
  to{
    background:#99e2d0;
    margin-left: 10%;
  }
  }
@-o-keyframes stretch {
  from{
    background:none;
    }
    to{
    background:#99e2d0;
    margin-left: 10%;
    }
}
/* style pour button commander:non changé*/
/* style pour footer non changé*/
}

/* style pour grand écran plus 1025px*/
@media screen and (min-width:1025px) {
   body{
    font-size: 3rem;
  }
  /* Style pour header */
header .fa-arrow-left{
  margin-right: 3rem;
  font-size: 3rem;
}

/* style pour image restaurant */
.image img{
  height: 70rem;
}
  /* style pour menu */
.menu h1 .fa-heart{
  right: 10rem;
}
  /* style pour la carte */
.carte h2{
  font-size: 3.5rem;
}
.carte hr{
  width: 5%;
}
.carte ul li {
  width: 70%;
}
/* style pour prix: non changé*/
   .nom{
    width: 90%;
  }
  .prix{
    width:15rem;
  }
  /* style pour animation prix */
  
  @keyframes stretch{
    from{background:none;}
        to{background: #99e2d0;
    margin-left:10%}
  }
  @-webkit-keyframes stretch{
    from{background:none;}
    to{background: #99e2d0;
      margin-left:10%}
  }
  @-moz-keyframes stretch{
    from{background:none;}
    to{background: #99e2d0;
      margin-left:10%}
  }
  @-o-keyframes stretch{
    from{background:none;}
    to{background: #99e2d0;
      margin-left:10%}
}
  /* style pour button commander*/
button.commander{
  margin:2rem 40% 10rem 40%;
  width: 20%;
}
/* style pour footer: non changé */
}
